@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sono:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  font-family: "Libre Baskerville", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  /* font-family: "Roboto Slab", serif; */
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 80vh;

}

.my-cover{
  height: 100vh!important;
}

.logo {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

.ads-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.ads-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.ad-stat {
  flex: 1;
  max-width: 200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media (max-width: 768px) {
  .ads-stats {
    flex-direction: column;
    align-items: center;
  }

  .ad-stat {
    margin-bottom: 20px;
  }
}
.loader-index{
  z-index: 100;
}
.loader {
  width: 40px;
  aspect-ratio: 1;
  color: #f03355;
  position: relative;
  background: radial-gradient(10px, currentColor 94%, #0000);
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(9px at bottom right, #0000 94%, currentColor) top
      left,
    radial-gradient(9px at bottom left, #0000 94%, currentColor) top right,
    radial-gradient(9px at top right, #0000 94%, currentColor) bottom left,
    radial-gradient(9px at top left, #0000 94%, currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: l18 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l18 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }
  66% {
    inset: -10px;
    transform: rotate(90deg);
  }
  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

.black-gradient {
  background: #000000; /* Fallback for older browsers */
  background: -webkit-linear-gradient(
    45deg,
    /* Adjust the angle as needed */ #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    45deg,
    /* Adjust the angle as needed */ #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* pricing component */
.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Example CSS for making the table responsive */
.table-responsive {
  overflow-x: auto;
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

.md-flex-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.table-card , table {
  width: 100%!important;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td {
  padding: 10px;
  text-align: left;
}

.gallery {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  img {
    height: 100px;
    cursor: pointer;
  }
}
.active {
  border: 2px solid orange;
}
@media (max-width: 576px) {
  .main {
    height: 300px;
  }
  .gallery {
    img {
      height: 50px;
    }
  }
}
@media (min-width: 992px) {
  .main {
    height: 500px;
  }
  .gallery {
    img {
      height: 75px;
    }
  }
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.text-center {
  text-align: center;
}

.image-container {
  width: 500px;
  height: 500px;
}



html {
  scroll-behavior: smooth;
}

form {
  ::-webkit-scrollbar {
    display: none;
  }
}

.my-body {
  width: 80vw;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  /* Hide the sidebar with absolute positioning */

  .my-sidebar {
    display: none;
  }
  .my-other-sidebar {
    display: none;
  }

  /* Make the body take full width */
  .my-body {
    width: 90vw;
    /* Optionally, add some margin on the left for spacing */
  }
}



@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}